<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		 <title>My MCD tools</title>
		 <object th:replace="layout/head :: head">...</object>
	</head>
    <body>
		 <div class="container">
		  <h2><br><br></h2>
		  <div class="panel panel-default">
		    <div th:replace="layout/header :: header" class="panel-heading">Panel Heading</div>
		    <div th:replace="layout/nav :: navigation">...</div>
		    <div class="panel-body">
		    
		    <form th:action="@{/test}" method="get">
		     	<button type="submit" class="btn btn-success">Test mail</button>
		    </form>
			    <h1>Introduction</h1>
			    
	            <p>This website is made for a project in my university on the course of Digital Services. In this course we have learnt about HTML and CSS.<br>
	            The main aim of this site was to try different html layouts and use basics of css. Show how to link html files to each other.<br>
	            Also I would like to develop this website to introduce my skills what I learn in school and in other online courses.<br><br>
	            I am a student on Business Information Technology at Haaga-Helia University of Applied Science in Helsinki.<br>
	            In this major we try to mix different skills in programming, business, digital services and ICT. <br>
	            In this case we will be able to understand different aspects of ICT and able to be a link between different departments or professions.<br><br>
	            My interest is to be a program developer. Basically I wanted to master how to develop CRM systems because my first thesis was about this topic <br>
	            on the business side. Nowadays I feel more motivation to learn machine learning and artifical intelligence. <br><br>
	            I hope you will enjoy this website.<br><br>
	            The author
	            This website is made for a project in my university on the course of Digital Services. In this course we have learnt about HTML and CSS.<br>
	            The main aim of this site was to try different html layouts and use basics of css. Show how to link html files to each other.<br>
	            Also I would like to develop this website to introduce my skills what I learn in school and in other online courses.<br><br>
	            I am a student on Business Information Technology at Haaga-Helia University of Applied Science in Helsinki.<br>
	            In this major we try to mix different skills in programming, business, digital services and ICT. <br>
	            In this case we will be able to understand different aspects of ICT and able to be a link between different departments or professions.<br><br>
	            My interest is to be a program developer. Basically I wanted to master how to develop CRM systems because my first thesis was about this topic <br>
	            on the business side. Nowadays I feel more motivation to learn machine learning and artifical intelligence. <br><br>
	            I hope you will enjoy this website.<br><br>
	            The author
	            This website is made for a project in my university on the course of Digital Services. In this course we have learnt about HTML and CSS.<br>
	            The main aim of this site was to try different html layouts and use basics of css. Show how to link html files to each other.<br>
	            Also I would like to develop this website to introduce my skills what I learn in school and in other online courses.<br><br>
	            I am a student on Business Information Technology at Haaga-Helia University of Applied Science in Helsinki.<br>
	            In this major we try to mix different skills in programming, business, digital services and ICT. <br>
	            In this case we will be able to understand different aspects of ICT and able to be a link between different departments or professions.<br><br>
	            My interest is to be a program developer. Basically I wanted to master how to develop CRM systems because my first thesis was about this topic <br>
	            on the business side. Nowadays I feel more motivation to learn machine learning and artifical intelligence. <br><br>
	            I hope you will enjoy this website.<br><br>
	            The author
	            This website is made for a project in my university on the course of Digital Services. In this course we have learnt about HTML and CSS.<br>
	            The main aim of this site was to try different html layouts and use basics of css. Show how to link html files to each other.<br>
	            Also I would like to develop this website to introduce my skills what I learn in school and in other online courses.<br><br>
	            I am a student on Business Information Technology at Haaga-Helia University of Applied Science in Helsinki.<br>
	            In this major we try to mix different skills in programming, business, digital services and ICT. <br>
	            In this case we will be able to understand different aspects of ICT and able to be a link between different departments or professions.<br><br>
	            My interest is to be a program developer. Basically I wanted to master how to develop CRM systems because my first thesis was about this topic <br>
	            on the business side. Nowadays I feel more motivation to learn machine learning and artifical intelligence. <br><br>
	            I hope you will enjoy this website.<br><br>
	            The author
	            This website is made for a project in my university on the course of Digital Services. In this course we have learnt about HTML and CSS.<br>
	            The main aim of this site was to try different html layouts and use basics of css. Show how to link html files to each other.<br>
	            Also I would like to develop this website to introduce my skills what I learn in school and in other online courses.<br><br>
	            I am a student on Business Information Technology at Haaga-Helia University of Applied Science in Helsinki.<br>
	            In this major we try to mix different skills in programming, business, digital services and ICT. <br>
	            In this case we will be able to understand different aspects of ICT and able to be a link between different departments or professions.<br><br>
	            My interest is to be a program developer. Basically I wanted to master how to develop CRM systems because my first thesis was about this topic <br>
	            on the business side. Nowadays I feel more motivation to learn machine learning and artifical intelligence. <br><br>
	            I hope you will enjoy this website.<br><br>
	            The author
	            This website is made for a project in my university on the course of Digital Services. In this course we have learnt about HTML and CSS.<br>
	            The main aim of this site was to try different html layouts and use basics of css. Show how to link html files to each other.<br>
	            Also I would like to develop this website to introduce my skills what I learn in school and in other online courses.<br><br>
	            I am a student on Business Information Technology at Haaga-Helia University of Applied Science in Helsinki.<br>
	            In this major we try to mix different skills in programming, business, digital services and ICT. <br>
	            In this case we will be able to understand different aspects of ICT and able to be a link between different departments or professions.<br><br>
	            My interest is to be a program developer. Basically I wanted to master how to develop CRM systems because my first thesis was about this topic <br>
	            on the business side. Nowadays I feel more motivation to learn machine learning and artifical intelligence. <br><br>
	            I hope you will enjoy this website.<br><br>
	            The author
	            
	            </p>
			</div>
		    <div th:replace="layout/footer :: footer" class="panel-footer">Panel Footer</div>
		  </div>
		</div>
    </body>
    <script th:src="@{javascript/index.js}"></script>
    
</html>